<div class="card">
	<div class="card-flag-name">
		<img class="card-flag" src="{{flag}}" alt="{{name}}" width="30">
		<h2 class="card-title">{{name}}</h2>
	</div>
	<div class="card-body">
		<p class="card-text"><b>Capital:</b> {{capital}}</p>
		<p class="card-text"><b>Population:</b> {{population}}</p>
		<p class="card-text-line"></p>
		{{!-- <ul class="list-group">
			{{#each languages}}
			<li class="list-group-item">{{languages.name}}</li>
			{{/each}}
		</ul>  --}}
	</div>
</div>